/*Colors*/
.color {
  color: $black;
  margin: 0 5px 10px 0;
  position: relative;
  width: 24%;
  float: left;
  input{
    border: none;
    background: none;
    font-weight: bold;
  }
}
.swatch{
  width: 100%;
  height: 120px;
  position: relative;
  border-radius: 3px;
  &.fox {
    background: $fox;
    color: white;
  }
  &.humpback {
    background: $humpback;
    color: white;
  }
  &.gorilla {
    background: $gorilla;
    color: white;
  }
  &.rhino {
    background: $rhino;
    color: white;
  }
  &.timberwolf {
    background: $timberwolf;
    color: white;
  }
  &.koala {
    background: $koala;
    color: white;
  }
  &.mouse {
    background: $mouse;
    color: white;
  }
  &.white {
    background: $white;
  }


  &.turtle {
    background: $turtle;
    color: white;
  }
  &.parrot {
    background: $parrot;
    color: white;
  }
  &.bluejay {
    background: $bluejay;
    color: white;
  }
  &.fox-light {
    background: $fox-light;
  }
  &.turtle-light {
    background: $turtle-light;
  }
  &.parrot-light {
    background: $parrot-light;
  }
  &.bluejay-light {
    background: $bluejay-light;
  }

  &.peacock {
    background: $peacock;
    color: white;
  }
  &.octopus {
    background: $octopus;
    color: white;
  }
  &.chameleon {
    background: $chameleon;
    color: white;
  }



  &.dark-danger {
    background: $dark-danger;
    color: white;
  }
  &.danger {
    background: $danger;
    color: white;
  }
  &.medium-danger {
    background: $medium-danger;
    color: white;
  }
  &.light-danger {
    background: $light-danger;
    color: white;
  }
  &.blue {
    background: $blue;
    color: white;
  }
  &.medium-blue {
    background: $medium-blue;
    color: white;
  }
  &.light-blue {
    background: $light-blue;
    color: white;
  }
  &.warning {
    background: $warning;
    color: white;
  }
  &.light-warning {
    background: $light-warning;
    color: white;
  }
}

.c-info{
  padding: 1em;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.white {
  color: white;
  }
a:hover.color {
  text-decoration: none;
  cursor: default;
}
