body{
  font-size: 14px;
  line-height: 1.5;
  color: $dark-grey;
}

#bread{
  li{
    display: inline-block;
  }
  a{
    color: $dark-grey;
    font-weight: 700;
    font-size: 12px;
    padding: 20px 0;
    &:before{
      content: "â† ";
    }
  }
}

p{
  line-height: 1.5;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
  color: $dark-grey;
  font-weight: normal;
}
h1 {
  font-size: 2.5714em; /* 36px */
  line-height: 1.1667; /* 42px */
  margin-top: 0.5833em;  margin-bottom: 0.0000em;
}
h2 {
  font-size: 2.1429em; /* 30px */
  line-height: 1.4000; /* 42px */
  margin-top: 0.7000em;  margin-bottom: 0.0000em;
}
h3 {
  font-size: 1.7143em; /* 24px */
  line-height: 1.7500; /* 42px */
  margin-top: 0.8750em;  margin-bottom: 0.0000em;
}
h4 {
  font-size: 1.3571em; /* 19px */
  line-height: 1.1053; /* 21px */
  margin-top: 1.1053em;  margin-bottom: 0.0000em;
}
h5 {
  font-size: 1.0000em; /* 14px */
  line-height: 1.5000; /* 21px */
  margin-top: 1.5000em;  margin-bottom: 0.0000em;
}
h6 {
  font-size: 0.8571em; /* 12px */
  line-height: 1.7500; /* 21px */
  margin-top: 1.7500em;  margin-bottom: 0.0000em;
}

// .alert {
//   border: none;
//   font-weight: 400;
// }
// .alert.alert-success{
//   color: $blue;
//   background: $light-blue;
// }
//
// .alert.alert-danger {
//   color: $danger;
//   background: $light-danger;
// }
//
// .alert.alert-warning {
//   color: $warning;
//   background: $light-warning;
// }

.form-control {
  height: 30px;
  padding: 0 10px
}

.jumbotron {
  padding: 0;
  margin: 0
}
nav.main-subnav a:hover {
  border-bottom: 2px solid #4a4a4a;
}
nav.main-subnav a.active:hover {
  border-bottom: 2px solid #78a22f;
}
.table thead tr > th {
  text-align: left;
}

.alert {
  // border-left: 6px solid;
}

textarea.form-control {
    padding: 5px 10px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}
.pagination>li {
    display: inline;
}
.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 10px 12px;
    margin-left: 10px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    color: $dark-grey;
    background-color: $light-grey;
    border: 1px solid $medium-grey;
    box-shadow: $btn-shadow;
}

.pagination>li>a:hover,
.pagination>li>span:hover{
    text-decoration: none;
    background: $medium-grey;
    border: 1px solid $grey;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
}
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: #A2A2A2;
    color: white;
    box-shadow: none;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    width: 50px;
    padding: 6px;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca
}
.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}
.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px
}
.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}
.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px
}
.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}
.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: $grey;
    border-color: #a3a3a3;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    width: 50px;
    padding: 10px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: $dark-grey;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: $dark-grey;
  }

.checkbox label, .radio label {
  text-transform: none;
  font-size: 14px;
  color: $dark-grey;
}

button.tooltip-button {
  background: white;
  float: none;
  border: none;
}

// .tooltip-inner {
//     max-width: 200px;
//     padding: 10px;
//     color: #fff;
//     text-decoration: none;
//     background-color: $black;
//     border-radius: 3px;
//     letter-spacing: 1px;
//     font-weight: 300;
//     text-align: left;
// }

.btn.btn-default, .btn.btn-danger {
  border-color: $medium-grey;
}

.modal-header {
  padding: 10px 0;
  h3 {
    margin: 0 15px;
  }
}
.modal-body {
  // padding: 0 10px;
  h4 {
    margin: 0 0 15px 0;
  }
}

.modal-header .close {
    margin: 0px 15px;
    font-weight: 300;
    padding-top: 0;
    font-size: 36px;
}

label.has-error {
  color: $danger;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error input {
    color: $danger
}

.has-error {
.form-control::-webkit-input-placeholder { color: $danger; }
.form-control:-moz-placeholder { color: $danger; }
.form-control::-moz-placeholder { color: $danger; }
.form-control:-ms-input-placeholder { color: $danger; }
}

.has-error .form-control {
    border-color: $danger;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-error .form-control:focus {
    border-color: $danger;
    -webkit-box-shadow: inset 0 1px 1px rgba(212,98,88, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(212,98,88, .075), 0 0 6px #ce8483
}
.has-error .input-group-addon {
    color: $danger;
    background-color: #f2dede;
    border-color: #a94442
}
.has-error .form-control-feedback {
    color: $danger
}
.btn.btn-link {
  &:hover {
    box-shadow: none;
  }
}
.btn.btn-link.disabled {
  color: $dark-grey;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $dark-grey;
  }
}
a:hover {
  cursor: pointer;
}


.table thead tr > th {
  background-color: white;
  border-right: none;
  color: $grey;
  border-top: 1px solid $warm-grey;
  border-bottom: 2px solid $warm-grey;
  font-size: 12px;
}

.table thead tr > th:last-child {
  border-top: 1px solid $warm-grey;
  border-bottom: 2px solid $warm-grey;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 1px solid $warm-grey;
  border-bottom: 2px solid $warm-grey;
}

.table > tbody > tr > td {
  border-bottom: 1px solid $warm-grey
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 10px;
}

.table-hover>tbody>tr:hover {
  background-color: $light-blue;
  cursor: pointer
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
  background-color: $light-blue;
}

label {
  font-size: 12px
}
