$orchard: #faac35;
$green-orchard: #78A22F;

$black: #282828;
$dark-grey: #4a4a4a;
$grey: #a2a2a2;
$medium-grey: #e4e4e4;
$light-grey: #f9f9f9;
$warm-grey: #D9D2D0;

$dark-danger: #b55249;
$danger: #d46258;
$medium-danger: #f7ccd1;
$light-danger: #fdf1f0;

$blue: #026ead;
$medium-blue: #039ff9;
$light-blue: #f1f5f9;

$warning: #c0710b;
$light-warning: #fff7ed;

$btn-shadow: 0px 1px 0px 0px rgba(0,0,0,0.13);
